@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Tailwind v4 theme tokens */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts from next/font */
  --font-sans: var(--font-inter);
  --font-display: var(--font-space);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}